<html>
<head>
<title>Chap10</title>
</head>
<body>  
   <h3>스프링 시큐리티</h3>  
  <p>뷰 페이지는 [[${data}]] 입니다.  
  <p><a href="/exam01" >[웹 요청 URL /exam01로 이동하기]</a>  
  <p><a href="/manager/main">/manager/main로 이동하기 </a>
  <p>username:<span th:text="${username}"/>
  <p>username2:<span th:text="${username2}"/>
  <p>username3:<span th:text="${username3}"/>
  <p>username4:<span th:text="${username4}"/>
  
  <p>password:<span th:text="${password}"/>
  <p>authority:<span th:text="${authority}"/>
  <p>authority2:<span th:text="${authority2}"/>
  <p>authority3:<span th:text="${authority3}"/>
</body>
</html>