<html>
<head>
<title>Chap14</title>
</head>
<body>
	<div align="center">
		<h3>JPA 데이터베이스</h3>
		<br>Player
		<table border="1" cellpadding="10">
			<tr>
				<th>아이디</th>
				<th>팀이름</th>

			</tr>
			<tr th:each="player : ${playerList}">
				<td th:text="${player.id}"></td>
				<td th:text="${player.name}"></td>

			</tr>
		</table>
		<br> Team

		<table border="1" cellpadding="10">
			<tr>
				<th>아이디</th>
				<th>이름</th>
			</tr>
			<tr th:each="team : ${teamList}">
				<td th:text="${team.id}"></td>
				<td th:text="${team.name}"></td>

			</tr>
		</table>

	</div>
</body>
</html>